:root {
  --landing-background-filter: #408C5E;
  --landing-text-filter-primary: #408C5E;
  --landing-head-filter-primary: #408C5E;
}

@media (min-width: 1000px) {
  .header__portfolio {
    display: flex;
    flex-direction: column;
  }
  .header__portfolio__banner .profile__pictures {
    border: solid var(--landing-head-filter-primary) 6px;
    border-radius: 100%;
  }
  .header__portfolio__banner .profile__pictures img {
    border-radius: 100%;
    height: 400px;
    width: 400px;
    -o-object-fit: none;
       object-fit: none;
    -o-object-position: center;
       object-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
    background-position: center center;
    overflow: hidden;
    filter: grayscale(100%);
  }
}
.header__portfolio {
  flex-direction: row;
  font-family: "Supreme", sans-serif;
  align-items: center;
  position: relative;
}
.header__portfolio .header__welcome {
  justify-content: space-between;
  flex: 1 1 0;
}
.header__portfolio .header__welcome .header__name {
  font-size: 2em;
}
.header__portfolio .header__welcome h1 {
  font-size: 2.5em;
}
.header__portfolio .header__welcome .hello {
  font-size: 2.5em;
}
.header__portfolio .header__welcome .hello span {
  -webkit-animation: wobble linear infinite;
          animation: wobble linear infinite;
  /* referring directly to the animation's @keyframe declaration */
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  /* don't forget to set a duration! */
}
.header__portfolio .header__welcome .hello .animate__animated.animate__wobble {
  --animate-duration: 6s;
  --animate-repeat: 2;
}
.header__portfolio .highlight__text {
  color: var(--landing-text-filter-primary);
  font-weight: 800;
  display: inline-block;
}

.header__portfolio__banner .profile__pictures {
  margin: 2rem 0;
  overflow: hidden;
  border: solid var(--landing-head-filter-primary) 6px;
}
.header__portfolio__banner .profile__pictures img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  pointer-events: none;
  overflow: hidden;
  display: block;
  filter: grayscale(100%);
}

.about__landing__section {
  font-family: "Amulya", sans-serif;
}
.about__landing__section .about__heading {
  font-size: 2em;
  color: var(--landing-text-filter-primary);
  font-weight: 500;
}
.about__landing__section .code {
  font-weight: 400;
}
.about__landing__section .code__dummy {
  padding: 1em 0;
}
.about__landing__section .about__item {
  position: relative;
  font-size: 1em;
}
.about__landing__section .about__item .text {
  font-size: 1.2em;
}
.about__landing__section .about__item .uPreC90 {
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: var(--landing-head-filter-primary);
}

.skills__container .skills__heading {
  font-size: 2em;
  font-weight: 500;
  color: var(--landing-text-filter-primary);
}
.skills__container .skill__name {
  font-size: 1.2em;
  position: relative;
}
.skills__container .skills__item {
  align-items: center;
}
.skills__container .skills__item .skills__item__bar {
  height: 25px;
}
.skills__container .skills__item .skills__item__bar .xcUiT__bar {
  background-color: var(--landing-background-filter);
  display: block;
  border-radius: 1em;
  align-items: center;
  text-align: center;
}
.skills__container .skills__item .skills__item__bar .bar__xcUL {
  width: 300px;
}
.skills__container .skills__item .skills__item__bar .bar__rxCs {
  width: 240px;
}
.skills__container .skills__item .skills__item__bar .bar__tRsa {
  width: 220px;
}
.skills__container .skills__item .skills__item__bar .bar__fgDa {
  width: 200px;
}
.skills__container .skills__item .skills__item__bar .bar__grFc {
  width: 160px;
}

.education__excRt .heading__education_tlxSc {
  font-size: 2em;
  color: var(--landing-text-filter-primary);
  font-weight: 500;
}
.education__excRt .education__item__gtxDa .education__name {
  text-transform: uppercase;
}

.education__item .schools__name {
  font-weight: 600;
}
.education__item .schools__item .schools__logo img {
  height: 70px;
  width: auto;
  background-position: center center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=landingpagesStyled.css.map */